#big{
    background-image: url("https://i.pinimg.com/originals/e4/91/54/e49154874cb3cb411e759a3a465f16b4.jpg") ;
    height: 600px;
    background-size: cover;
    

}
#navbar{
    background-color: black;
    padding: 35px;
    

}

a{
    padding: 8px;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
}

#heading{
    color: green;

}

h1{
   padding-left: 50%;
   padding-top:250px;
   font-size: 40px;
   font-style: italic;


}

#tip{
    padding-left: 50%;
    color: black;
    font-size: 27px;
    font-style: italic;

}

#follow{
    padding-left: 50%;
    color:black;
   
}

img{
    display: inline-block;
    -webkit-border-image: 8rem;
    border-radius: 50px 50px 50px 50px;
    padding: 15px;
}

.one{
    background-color: #38470b;
}

#foot{
    background-color: #38470b;
    

}
footer{
    color: aliceblue;
    font-size: 20px;

}

body{
    text-align: center;
}

h3{
   color: white;
   font-size: 35px; 
    
}

#pp{
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}